@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ysabeau+Infant:wght@300&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a background color or image for the entire page */
  body {
    background-color: #161616;
    font-family: 'Roboto Mono', monospace;
  }
  
  /* Center the registration form */
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    /* Style the form container */
    .form-contact {
      position: relative;
      background-color: #333;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      width: 1000px;
      max-width: 400px;
      border-top: 5px solid red;
      animation: glowing 20s linear infinite;
    }
    
    .form-contact ::before,
    .form-contact ::after{
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff5100, #ffae00, #575757, #aaaaaa, #ffffff, #ff0000, #ff5100, #ffae00);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(4px);
      width: calc(100% + 1px);
      height: calc(100% + 1px);
      animation: glow 20s linear infinite;
    }

    .form-contact ::after{
      filter: blur(10px);
    }

    @keyframes glow {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }

    /* Style the form title */
    .form-contact h1 {
      color: #ffffff;
    }
    
    
    /* Style the form labels */
    .form-floating label {
      position: absolute;
      top: -10px;
      left: 0;
      color: #333;
    }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaaaaa;
  }

  .form-message {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaaaaa;
  }
  
  .login {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login:hover {
    background-color: #c82333;
  }
  
  .reg {
    color: #888;
  }

  .log {
    color: #888;
  }
  
  a {
    text-decoration: none;
    color: #dc3545;
  }


  .btn {
    top: 10%;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff5100, #ffae00, #575757, #aaaaaa, #ffffff, #ff0000, #ff5100, #ffae00);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .btn:active {
    color: #000
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:hover:before {
    opacity: 1;
  }
  
  .btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .form-registration {
      padding: 10px;
    }
  }
  